.header {
  height: 5rem;
  width: 100%;
  background-color: var(--bg-color);
  display: flex;
  justify-content: space-between;
  padding: 1rem 2rem;
}

.header-logo-section {
  display: flex;
  align-items: center;
}

.logo {
  height: 3rem;
  width: 3rem;
}

.app-title {
  margin-left: 2rem;
  color: var(--primary-color);
}

.header-menu {
  color: var(--primary-color);
  font-weight: 400;
  font-size: 1.8rem;
}
